.sonarqube/
Praca inżynierska/Praca inżynierska/bw-output/
Praca inżynierska/Praca inżynierska/bin/
Praca inżynierska/Praca inżynierska/obj/
sonarqube_cmd.txt
Praca inżynierska/Praca inżynierska/Logs/
