<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <PI.Properties.Settings>
      <setting name="UpdateUrl" serializeAs="String">
        <value>https://github.com/vego1mar/PI</value>
      </setting>
      <setting name="Commits" serializeAs="String">
        <value>33</value>
      </setting>
    </PI.Properties.Settings>
  </applicationSettings>
</configuration>
